<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="field-text(fieldid, labelname)" class="field">
    <div th:with="hasErrors=${#fields.hasErrors('__${fieldid}__')}">
      <label class="label" th:for="${fieldid}" th:text="${labelname}"></label>
      <div class="control">
        <input class="input" type="text" th:id="${fieldid}" th:name="${fieldid}"
            th:classappend="${hasErrors} ? is-danger">
      </div>
      <p class="help is-danger" th:if="${hasErrors}" th:errors=*{__${fieldid}__}></p>
    </div>
  </div>

  <div th:fragment="field-password(fieldid, labelname)" class="field">
    <div th:with="hasErrors=${#fields.hasErrors('__${fieldid}__')}">
      <label class="label" th:for="${fieldid}" th:text="${labelname}"></label>
      <div class="control">
        <input class="input" type="password" th:id="${fieldid}" th:name="${fieldid}"
            th:classappend="${hasErrors} ? is-danger">
      </div>
      <p class="help is-danger" th:if="${hasErrors}" th:errors=*{__${fieldid}__}></p>
    </div>
  </div>

</html>
