<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/common::header(title = ~{::title}, links = ~{::link}, scripts = ~{::script})">
  <title>Sign up</title>
  <!-- Links -->
  <link>
  <!-- Stripts -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
  <nav th:replace="components/common :: navbar-global"></nav>

  <!-- Align center -->
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">

      <form th:action="@{/signup}" method="post" th:object="${form}">
        <div class="card">
          <div class="card-header has-background-primary">
            <p class="card-header-title has-text-white">Create your account</p>
          </div>
          <div class="card-content">
            <!-- Email -->
            <div th:replace="components/form::field-text(
                fieldid = 'email',
                labelname = 'Email address',
                required = true)">
            </div>
            <!-- Password -->
            <div th:replace="components/form::field-password(
                fieldid = 'password',
                labelname = 'Password',
                required = true)">
            </div>
            <!-- Confirm password -->
            <div th:replace="components/form::field-password(
                fieldid = 'confirm',
                labelname = 'Confirm password',
                required = true)">
            </div>
          </div>
          <div class="card-footer">
            <div class="control card-footer-item">
              <input class="button is-link is-expanded" type="submit" value="Sign up">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
